html, body {
  margin: 0;
  padding: 0;
  font-family: Lato,sans-sans-serif;

}

#wrap {
  background: lightpink;
  height: 100vh;
  display: grid;
  /* set sidebar for 200px and the rest is taking all the rest*/
  /* grid-template-columns: 1fr 4fr; */
  grid-template-columns: 1fr 1fr;

  padding: 80px;
}
